.container {
  font-size: 14px;
  color: #02333E;
  font-family: 'MicroSoft Yahei';
  width: 500px;
  margin: 20px auto;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
h2 {
  text-align: center;
}
